DiscordVentriloquist/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Webhooks" type="tns:Webhooks" />
      <xs:element name="Characters" type="tns:Characters" />
    </xs:sequence>
    <xs:attribute name="Message" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Webhooks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WebhooksItem" type="tns:WebhooksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WebhooksItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="URL" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Characters">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CharactersItem" type="tns:CharactersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CharactersItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="AvatarURL" type="xs:string" />
  </xs:complexType>
</xs:schema>